@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Admin Paneli</title>
    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
</head>
<body>

    <form class="login-form" action="/Admin/Login/" method="post">
        @if (Session["adminId"]==null)
        {
        <p class="alert-warning">@ViewBag.Uyari</p>
        }
        

        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i> <br /> Admin Giris Paneli</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="email" class="form-control" name="Eposta" required placeholder="E-posta" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" name="Sifre" placeholder="Şifre" required>
            </div>
            <button class="btn btn-info btn-lg btn-block" type="submit">Giris Yap</button>
        </div>
    </form>
</body>
</html>




