@model IEnumerable<KurumsalWeb.Models.Model.Hakkimizda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Aciklama)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id = item.HakkimizdaId }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
