
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    CKEDITOR.replace('editor')
</script>
<h4>Yeni Blog Ekleme Paneli</h4>
<hr />
<div class="form">
    @using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @*<form class="form-validate form-horizontal" id="feedback_form" method="POST" action="/Blog/Create/" enctype="multipart/form-data">*@
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık </label>
            <div class="col-lg-10">
                <input class="form-control" name="Baslik" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2" required>Kategori </label>
            <div class="col-lg-10 ">
                @Html.DropDownList("KategoriId", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">İçerik </label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Icerik" required>
                    
                </textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim </label>
            <div class="col-lg-10">
                <input class="form-control " type="file" name="ResimURL" accept=".jpg,.png,.jpeg" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-success" type="submit">Kaydet</button>
                <a href="/Blog/Index/"><button class="btn btn-danger" type="button">İptal</button></a>
            </div>
        </div>
        @*</form>*@


    }
</div>

