@model KurumsalWeb.Models.Model.Hizmet
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Hizmet Güncelleme Paneli</h4>
<hr />
<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Hizmet/Edit/@Model.HizmetId" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık<span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text"  value="@Model.Baslik" />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Açıklama<span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea name="Aciklama" class="ckeditor" >
                 @Model.Aciklama
            </textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Mevcut Resim</label>
            <div class="col-lg-10">
                <img src="@Model.ResimURL" width="%100" height="200" alt="Alternate Text" />
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim Adresi</label>
            <div class="col-lg-10">
                <input type="file"  class="form-control" name="ResimURL" accept=".jpg,.jpeg,.png" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-success" type="submit">Kaydet</button>
                <a href="/Hizmet/Index/"><button class="btn btn-danger" type="button"> İptal</button></a>
            </div>
        </div>
    </form>
</div>
