@model IEnumerable<KurumsalWeb.Models.Model.Kategori>
<ul class="cat">
    @foreach (var item in Model)
    {
        <li><i class="icon-angle-right"></i><a href="/Home/BlogKategori/@item.KategoriId">@item.KategoriAd</a><span> (@item.Blogs.Count())</span></li>

    }
</ul>
