@model KurumsalWeb.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="container">
    <div class="col-md-12">
        <h2 style="margin-bottom:20px">Hakkımızda</h2>
        <div style="color:black">
            <img src="~/Uploads/Hizmet/Title.png" width="1024px" alt="" class="align-center" style="margin:25px" />
            @Html.Raw(Model.Aciklama)
        </div> 
    </div>
</div>


